<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/simditor.css" />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/module.js"></script>
    <script type="text/javascript" src="/javascripts/hotkeys.js"></script>
    <script type="text/javascript" src="/javascripts/uploader.js"></script>
    <script type="text/javascript" src="/javascripts/simditor.js"></script>
</head>
<body>

<header>
    <h1><%= title %></h1>
</header>

<nav>
    <span><a href="/">home</a></span>
    <span><a href="/archive">archive</a></span>
    <span><a href="/tags">tags</a></span>
    <span><a href="/chat">chatroom</a></span>
    <% if (user) { %>
    <span><a href="/upload">upload</a></span>
    <span><a href="/post">post</a></span>
    <span><a href="/logout">logout</a></span>
    <% } else { %>
    <span><a href="/login">login</a></span>
    <span><a href="/reg">register</a></span>
    <% } %>
    <span>
        <form action="/search" method="GET">
            <input type="text" name="keyword" placeholder="Search" class="search" />
        </form>
    </span>
</nav>

<article>
    <% if (success) { %>
    <div><%= success %></div>
    <% } %>
    <% if (error) { %>
    <div><%= error %> </div>
    <% } %>