<%- include header %>
<form method="post">
    Title: <br />
    <input type="text" name="title" style="width: 100%" /><br />
    Tags: (Seprated with comma) <br />
    <input type="text" name="tags" style="width: 100%" /><br />
    Text: <br />
    <textarea id="editor" name="text" rows="20"></textarea><br />
    <input type="submit" value="Post it" />
</form>
<script language="JavaScript">
    var editor = new Simditor({ textarea: $('#editor'), defaultImage:'/images/default.png' });
</script>
<%- include footer %>